<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            box-sizing: border-box;
            font-family: futura;
            color: #5b5656;
        }


        .split {
            height: 100%;
            width: 50%;
            position: fixed;
            z-index: 1;
            top: 0;
            overflow-x: hidden;
            padding-top: 20px;
        }

        .left {
            left: 0;
            background-color: #ffffff;
        }

        .right {
            right: 0;
            background-color: #ffffff;
        }

        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

        .centered img.one {
            height: 850px;
        }

        table {
            margin: 20px;
            border-collapse: collapse;
            background-color: #adc3c3;
        }

        td, th {
            border: 1px solid #ffffff;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #ffffff;
        }


        .top_heading {
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            font-size: 22px;
            padding: 20px;
            color: #597573;
        }

        h2 {
            font-family: sans-serif;
            font-size: 22px;
            color: #517d7d;
            padding: 8px;
            margin: 5px;
        }

        ul {
            padding: 5px;
            margin: 10px;
        }

        li {
            font-family: sans-serif;
            background-color: #dfd6ff;
            clear: both;
            list-style-type: none;
            width: 100vw;
            border-radius: 5px;
            margin: 5px;
        }

        .score {
            height: 100%;
            position: absolute;
            top: 50%;
            left: 90%;
            transform: translate(-50%, -50%);
            text-align: center;
            font-size: 22px;
            padding: 20px;
            color: #517d7d;
        }

    </style>
</head>
<body>
<div class="split left">
    <div class="top_heading">
        OCR FILE
    </div>
    <br>
    <br>
    <div class="centered">
        <img class="one" src="data:;base64,{{ image }}"/>
    </div>
    <div>
        <embed height="1600px" width="800px" src="data:application/pdf;base64,{{ image }}"/>
    </div>
</div>
<div class="split right">
    <div class="top_heading">PROCESSED TEXT
    </div>
    <div class="score">
        <p style="color:#5b5656;font-size:15px;padding:10px;">Completion Score
        <div style="font-size:14px;padding:10px;">{{ score }}</div>
        </p>
        <p style="color:#5b5656;font-size:15px;padding:10px;">Average Confidence Level
        <div style="font-size:14px;padding:10px;">{{ average }}</div>
        </p>
    </div>
    <br>
    <h2 style="color:#5b5656;font-size:22px;padding: 10px">Supplier Information</h2>
    <div class="table">
        <table border="1" cellpadding="5" cellspacing="5" width="80%">
            <tr>
                <th>Extracted Fields</th>
                <th>Values</th>
                <th>Confidence Level</th>
            </tr>
            <tr>
                <td>Supplier Name</td>
                <td>
                    <div class="column" style="font-size: 15px;">{{ supplier_name }}</div>
                </td>
                <td>
                    <div style="font-size: 15px;">{{ supplier_name_confidence }}</div>
                </td>
            </tr>
            <tr>
                <td>Supplier Address</td>
                <td>
                    <div class="column" style="font-size: 15px;">{{ supplier_address }}</div>
                </td>
                <td>
                    <div style="font-size: 15px;">{{ supplier_address_confidence }}</div>
                </td>
            </tr>
            <tr>
                <td>VAT Number</td>
                <td>
                    <div class="column" style="font-size: 15px;">{{ vat_number }}</div>
                </td>
                <td>
                    <div style="font-size: 15px;">{{ vat_nr_confidence }}</div>
                </td>
            </tr>
            <tr>
                <td>Expense Type</td>
                <td>
                    <div class="column" style="font-size: 15px;">{{ expense_type }}</div>
                </td>
                <td>
                    <div style="font-size: 15px;">{{ expense_type_confidence }}</div>
                </td>
            </tr>
        </table>
        <hr style="border: 2px solid#5b9aa0;"/>
        <h2 style="color:#5b5656;font-size:22px;padding: 10px">Invoice Information</h2>
        <table border="1" cellpadding="5" cellspacing="5" width="80%">
            <tr>
                <th>Extracted Fields</th>
                <th>Values</th>
                <th>Confidence Level</th>
            </tr>
            <tr>
                <td>Invoice Date</td>
                <td>
                    <div class="column" style="font-size: 15px;">{{ invoice_date }}</div>
                </td>
                <td>
                    <div style="font-size: 15px;">{{ invoice_date_confidence }}</div>
                </td>
            </tr>
            <tr>
                <td>Invoice Number</td>
                <td>
                    <div class="column" style="font-size: 15px;">{{ invoice_number }}</div>
                </td>
                <td>
                    <div style="font-size: 15px;">{{ invoice_number_confidence }}</div>
                </td>
            </tr>
            <tr>
                <td>Invoice VAT Amount</td>
                <td>
                    <div class="column" style="font-size: 15px;">{{ invoice_vat }}</div>
                </td>
                <td>
                    <div style="font-size: 15px;">{{ invoice_vat_confidence }}</div>
                </td>
            </tr>
            <tr>
                <td>Invoice Gross Amount</td>
                <td>
                    <div class="column" style="font-size: 15px;">{{ invoice_total }}</div>
                </td>
                <td>
                    <div style="font-size: 15px;">{{ invoice_total_confidence }}</div>
                </td>
            </tr>
            <tr>
                <td>Invoice Currency</td>
                <td>
                    <div class="column" style="font-size: 15px;">{{ invoice_currency }}</div>
                </td>
                <td>
                    <div style="font-size: 15px;">{{ invoice_currency_confidence }}</div>
                </td>
            </tr>
        </table>
        <br>
        <div>
            <label style="color:#5b5656;font-size:20px;padding:15px;">Compliant Invoice:</label>
            <label style="font-size: 18px;color:#517d7d;">{{ compliance_flag }}</label>
            <table border="1" cellpadding="5" cellspacing="5" width="80%">
                <tr>
                    <th>Compliance Indicator</th>
                    <th>Confidence Level</th>
                </tr>
                <tr>
                    <td>
                        <div class="column" style="font-size: 15px;">{{ compliance_list }}</div>
                    </td>
                    <td>
                        <div style="font-size: 15px;">{{ compliance_confidence_list }}</div>
                    </td>
                </tr>
                <tr>
                </tr>
            </table>
        </div>
        <br>
        <h2>Line Items</h2>
        <div class="col-sm-4" id="line_items">
            <ol>
                <!-- For loop logic of jinja template -->
                {% for i in range(0, len) %}

                    <li>{{ line_items[i] }}</li>
                {% endfor %}
            </ol>
            <br>
            <br>
            <form action="/">
                <button type="submit" class="btn btn-primary btn-lg btn-block"
                        style="background:#70BCB5; width:80%;margin: 20px;">Back to Form
                </button>
            </form>
            <br>
        </div>
    </div>
</div>
</div>
</body>
</html>